#changeColor {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.topBorder {
    border-top: solid black 2.5px;
}

.rightBorder {
    border-right: solid black 2.5px;
}

.blBorder {
    border-left: solid black 2.5px;
    border-bottom: solid black 2.5px;
}